body { background:#4F5D55;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.b1 {
	background: linear-gradient(#414B5E, #000000);
	border: 0px inset #000000;
	border-radius:  8px;
	color: #ffffff;
	font-weight: 600;
	cursor: pointer;
	height:25px;
}
.b2 {
	background: linear-gradient(#5D1313, #000000);
	border: 0px inset #000000;
	border-radius:  8px;
	color: #ffffff;
	font-weight:600;
	cursor:pointer;
	height:25px;
}
.b3 {
	background: linear-gradient(#A1ABAE, #505050);
	border: 0px inset #000000;
	border-radius:  8px;
	color: #ffffff;
	font-weight: 600;
	cursor: pointer;
	height:20px;
}
  a {
	text-decoration: none; /* убираем подчеркивание */
	color: #000000;
   } 
img {
    cursor:pointer;  
}
.trmenu:hover {
    background: #B9CFB1;
    cursor:pointer;
   }
.pointer:hover {
    cursor:pointer;
   }
.trnews:hover {
    cursor:pointer;
   }
.hidden {
    visibility: hidden;
    height: 0px;
    width:70px;
}
.hidden1 {
    visibility: visible;
    height: 0px;
    width:70px;
}
.headdiv {
	background: #A0AEA6;
    border-radius: 5px;
    height: 20px;
	margin:3px;
    padding:10px;
    box-shadow:  0 0 5px 1px;
    z-index:1;
}    
.login {
	background: #A0AEA6;
    border-radius: 5px;
    height:150px;
    width:250px;
    padding:10px;
    box-shadow: 0 0 5px 1px; 
}
.reg {
	background: #A0AEA6;
    border-radius: 5px;
    height: 300px;
    width:250px;
    margin:5px;
    padding:10px;
    box-shadow: 0 0 5px 1px;    
}
.addnews {
    position:fixed;
	background: #A0AEA6;
    border-radius: 5px;
    height: 250px;
    width: 30%;
    left:5%;
    top:10%;
    margin:3px;
    padding:15px;
    box-shadow: 0 0 50px 10px; 
    z-index:2;
}
.textnews{
max-width: 100%;  
max-height: 200px;  
width:100%; 
height:200px; 
}
.msgtext{
max-width: 100%;  
max-height: 100px;  
width:100%; 
height:100px; 
}
.menu {
	background: #A0AEA6;
    border-radius: 5px;
    top:0px;
    height: 200px;
    width: 200px;
	margin:3px;
    padding:10px;
    box-shadow: 0 0 5px 1px; 
}
.d1 {
    width: 400px;
}
.d2 {
	background: #A0AEA6;
    border-radius: 5px;
    overflow-x: hidden;
    margin:3px;
    padding:15px;
    box-shadow: 0 0 5px 1px;    
}
.dialog {
    height: 300px;
    background: #D5DED9;
    overflow: auto;
}