body { background:#4F5D55;}
.b1 {
	background: linear-gradient(#414B5E, #000000);
	border: 0px inset #000000;
	border-radius:  8px;
	color: #ffffff;
	font-weight: 600;
	cursor: pointer;
	height:25px;
}
.b2 {
	background: linear-gradient(#5D1313, #000000);
	border: 0px inset #000000;
	border-radius:  8px;
	color: #ffffff;
	font-weight:600;
	cursor:pointer;
	height:25px;
}
.b3 {
	background: linear-gradient(#616B7E, #000000);
	border: 0px inset #000000;
	border-radius:  8px;
	color: #ffffff;
	font-weight: 600;
	cursor: pointer;
	height:20px;
}
img {
    cursor:pointer;  
}
.trmenu:hover {
    background: #B9CFB1;
    cursor:pointer;
   }
.pointer:hover {
    cursor:pointer;
   }
div {
	background: #A0AEA6;
    border-radius: 5px;
}
.hidden {
    visibility: hidden;
    height: 0px;
    width:40px;
}
.hidden1 {
    visibility: visible;
    height: 0px;
    width:40px;
}
.headdiv {
    position:absolute;
    height: 20px;
    width: 35%;
    left:240px;
	margin:3px;
	top:3px;
    padding:10px;
    box-shadow: 0 0 5px 1px;
}    
.menu {
    position:absolute;
    top:3px;
    height: 200px;
    width: 200px;
	margin:3px;
    padding:10px;
    box-shadow: 0 0 5px 1px;    
}
.login {
    position:absolute;
    left:35%;
    height:150px;
    width:25%;
    padding:10px;
    box-shadow: 0 0 5px 1px; 
}
.reg {
    position:absolute;
    left:35%;    
    height: 300px;
    width: 25%;
    margin:5px;
    padding:10px;
    box-shadow: 0 0 5px 1px;    
}
.addnews {
    position:fixed;
    height: 50%;
    width: 30%;
    left:240px;
    top:25px;
    overflow-x: hidden;
    margin:3px;
    padding:15px;
    box-shadow: 0 0 50px 10px; 
    z-index:1;
} 
.news {
    position:absolute;
    height: 80%;
    width: 30%;
    left:240px;
    top:50px;
    overflow-x: hidden;
    margin:3px;
    padding:15px;
    box-shadow: 0 0 5px 1px;    
}   
.msg {
    position:absolute;
    height: 50%;
    width: 500px;
    left:250px;
    top:5px;
    overflow-x: hidden;
    margin:5px;
    padding:10px;
    box-shadow: 0 0 5px 1px;    
}   
.friends {
    position:absolute;
    height: 50%;
    width: 500px;
    left:250px;
    top:5px;
    overflow-x: hidden;
    margin:5px;
    padding:10px;
    box-shadow: 0 0 5px 1px;    
}
